@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffaf5;
  --foreground: #1a1a1a;
  --saffron: #ff9933;
  --maroon: #800000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #fffaf5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
